{%extends "admin_base.njk"%}

{% block titulo %}Publico | Error{%endblock%}

    {%block contenido%}
        <h1>Error</h1>

        <div class="alert alert-danger">{{error}}</div>

        {%endblock%}